.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  max-width: 1430px;
  width: 100%;

  button {
    cursor: pointer;
    background: #417EC5;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
  }
}